{% extends 'base.html.twig' %}



{% block body %}

    <h1>Modification d'un article</h1>

    {{ form_start(postForm) }}
    {{ form_widget(postForm) }}
    <button type="submit">Enregistrer les modifications</button>
    {{ form_end(postForm) }}
{% endblock %}